/vendor/
/web/core/
/web/modules/contrib/*
/web/sites/*/files/
tmp/*

# Ignore scaffold files
web/.csslintrc
web/.editorconfig
web/.eslintignore
web/.eslintrc.json
web/.gitattributes
web/.htaccess
web/.htrouter.php
web/autoload.php
web/index.php
web/robots.txt
web/INSTALL.txt
web/README.txt
web/example.gitignore
web/modules/README.txt
web/profiles/README.txt
web/sites/README.txt
web/sites/default/default.settings.php
web/sites/default/default.services.yml
web/sites/default/default.settings.php
web/sites/default/services.local.yml
web/sites/default/services.yml
web/sites/development.services.yml
web/sites/example.settings.local.php
web/sites/example.sites.php
web/themes/README.txt
web/libraries/*
!web/libraries/dev_scripts
web/themes/*/*/css
web/themes/*/*/js
web/modules/*/*/css
web/modules/*/*/js
